#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
  text-align: center;
  border-radius: 10%;
  background-color: white;
  vertical-align: middle;
}

.custom-b {
    margin-top: 5%;
    margin-bottom: 5%;
}

.inputs {
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
}