.today-title {
  background-color: white;
  width: 430px;
  height: 70px;
  border-radius: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(112, 112, 112);
}

.list {
    background-color: white;
    align-items: center;
    justify-content: center;
}

.result {
  margin-left: 25%;
  margin-right: 25%;
}

.allClimbsToday {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
}
